{% extends "booking/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="fw-bold">Welcome to College Counselling System</h1>
    <p class="text-muted mb-4">Book your counselling sessions easily</p>

    <a href="{% url 'booking:student_login' %}" class="btn btn-lg btn-primary px-4 m-2">Student Login</a>
    <a href="{% url 'booking:counselor_login' %}" class="btn btn-lg btn-outline-primary px-4 m-2">Counselor Login</a>
</div>
{% endblock %}
