{% extends "booking/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h4 class="mb-3" style="color:#2e5e6e;">🔐 Reset Your Password</h4>

      <form method="post">
  {% csrf_token %}

  <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
  </div>

  <div class="mb-3">
      {{ form.email.label_tag }}
      {{ form.email }}
  </div>

  <button class="btn btn-primary w-100 mt-3">
      Send Reset Link
  </button>
</form>
    </div>
  </div>
</div>
{% endblock %}